body {
    background-color: #f9f7fe;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 36px;
}

h2 {
    margin: 0 0 5px;
    font-size: 28px;
}

select {
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
}

.container {
    max-width: 600px;
    margin: 60px auto;
    background: white;
    padding: 30px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0,0.4);
    border-radius: 10px;
}

.city {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    border-bottom: 1px dashed rgb(0, 0, 0, 0.2);
    padding: 30px 0 ;
}

.date {
    opacity: 0.7;
}

.time {
    font-size: 45px;
    font-weight: bold;
}

.time small {
    font-size: 22px;
    vertical-align: middle;
}

footer {
    text-align: center;
    font-size: 18px;
    color: rgb(0, 0, 0, 0.6);
}
